{% extends 'base.html' %}

{% block head %}
<title>Create Your Account</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Create Your Account</h1>

    <div class="form">
        <form action="/createaccount" method="POST">
            Username: <input type="text" name="username" id="content" ><br>
            Password: <input type="text" name="password" id="content" ><br>
            <input type="submit" value="Log In">
        </form>
    </div>
</div>
{% endblock %}
